header{
    display: flex;
    background-color: lightblue;
}
.logo {
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login {
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

button.add_book{
    color:black;
}