header{
    display: flex;
    background-color: lightblue;
}
.logo {
    left: 50%;
    margin-left: auto;
    margin-right: auto;
}

.login {
    height: 10%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
}

button.add_book{
    color:black;
}

.book-grid {
    display: grid;
    row-gap: 50px;
    grid-template-columns: 60px 60px 60px;
    grid-template-rows: auto;
    align-items: center;
    width: 75%;
    margin-left: auto;
    grid-auto-columns: auto;


  }
  

.book_card{
    background-color: lightblue;
    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
}
  